:root {
    --very-dark-blue: #1A2634;
    --dark-blue: #203E5F;
    --light-blue: #C7DEF9;
    --gray: #7C7C7C;
    --yellow: #FFCC00;
    --light-yellow: #FEE5B1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
}

.App {
    background-color: var(--very-dark-blue);
    min-height: 100vh;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--very-dark-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .25rem 3rem;
    z-index: 1000;
}

.logo {
    flex: 0 2 310px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.logo span {
    font-size: 2rem;
    color: var(--light-blue);
}

.view-source-link {
    flex: 0 2 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .8rem;
    color: var(--gray);
}

.view-source-link:hover {
    text-decoration: underline;
}

.box-shadow {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.nav-search-bar-wrapper {
    flex: 1 1 100px;
    display: flex;
    padding: .5rem;
}

.nav-search-bar {
    flex: 1;
    display: flex;
    background-color: var(--dark-blue);
    padding-inline: 1.5rem;
    border-radius: 75px;
    transition: .2s ease;
}

.nav-search-bar input {
    flex: 1;
    font-size: 15px;
    color: #fff;
    background: none;
    border: none;
    outline: none;
}

.hero-search-bar-wrapper {
    width: 100%;
}

.hero-search-bar {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: .4rem 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    transition: .2s ease;
}

.hero-search-bar input {
    flex: 1;
    font-size: 1rem;
    color: #202020;
    background: none;
    border: none;
    outline: none;
}

.nav-search-bar button:hover {
    cursor: pointer;
    background-color: var(--light-yellow);
}

.hero-search-bar button, .nav-search-bar button {
    background: none;
    border: none;
    aspect-ratio: 1/1;
    padding: 2px;
    border-radius: 100%;
    transition: .25s ease;
}

.hero-search-bar button:hover {
    cursor: pointer;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 512px;
    background: url('https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
}

.hero-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    max-width: 800px;
}

.hero-section-inner h1 {
    font-size: 2.8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.suggest-search-wrapper {
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
    width: 80%;
}

.suggest-search {
    flex: 1;
}

.suggest-search a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    text-decoration: none;
    color: var(--very-dark-blue);
    background-color: var(--yellow);
    border-radius: 75px;
    transition: .4s ease;
}

.suggest-search a:hover {
    transform: rotateZ(-5deg);
    background-color: var(--light-yellow);
}

.pictures-section {
    --picture-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--picture-gap);
    padding: 2rem;
    margin: auto;
    max-width: 1440px;
}

.pics-column {
    display: flex;
    flex-direction: column;
    gap: var(--picture-gap);
}

.picture-card {
    display: flex;
    align-items: flex-end;
}

.picture-card > img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
    transition: .3s ease;
}

.picture-card > img:hover {
    cursor: zoom-in;
    filter: brightness(.65);
}

.info {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    padding: .25rem;
    transition: .15s ease;
    opacity: 0 /* control by React JS */
}

.info a > img {
    width: 48px;
    border-radius: 100%;
}

.info span {
    font-size: .9rem;
    color: #fff;
}

.info span a {
    margin-inline: 4px;
    color: var(--light-blue);
}

.search-title {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 5px var(--light-yellow);
    color: #fff;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
}

.pic-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 96%;
    background-color: var(--dark-blue);
    box-shadow: 0 0 16px var(--very-dark-blue);
    border-radius: 8px;
    overflow-y: scroll;
}

.img-wrapper {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    max-height: 768px;
    box-shadow: 0 0 10px 20px var(--very-dark-blue);
    border: 1px solid var(--light-blue);
}

.pic-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    background-color: var(--very-dark-blue);
    border-radius: 24px 4px 0 0;
}

.pic-info span {
    color: var(--light-blue);
}

.pic-info a {
    color: #fff;
}

.pic-info a:hover {
    color: var(--yellow);
}

.download-btn {
    padding: .25rem;
    aspect-ratio: 1/1;
    background-color: var(--light-yellow);
    border: none;
    border-radius: 8px;
    transition: .25s ease;  
}

.download-btn:hover {
    cursor: pointer;
    background-color: var(--light-blue);
}

.close-btn {
    position: fixed;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: .5rem;
    background-color: var(--light-blue);
    border: none;
    transition: .25s ease;
}

.close-btn:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

