:root {
    --very-dark-blue: #1A2634;
    --dark-blue: #203E5F;
    --light-blue: #C7DEF9;
    --gray: #7C7C7C;
    --yellow: #FFCC00;
    --light-yellow: #FEE5B1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quando', serif;
}

.App {
    background-color: var(--very-dark-blue);
    min-height: 100vh;
}

nav {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .25rem 3rem;
}

.logo {
    flex: 0 2 310px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.logo span {
    font-size: 2rem;
    color: var(--light-blue);
}

.view-source-link {
    flex: 0 2 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: .8rem;
    color: var(--gray);
}

.view-source-link:hover {
    text-decoration: underline;
}

.box-shadow {
    box-shadow:rgba(0, 0, 0, 0.5);
}

.nav-search-bar-wrapper {
    flex: 1 1 100px;
    display: flex;
    padding: .5rem;
}

.nav-search-bar {
    flex: 1;
    display: flex;
    background-color: var(--dark-blue);
    padding-inline: 1.5rem;
    border-radius: 75px;
}

.nav-search-bar input {
    flex: 1;
    font-size: 15px;
    color: #fff;
    background: none;
    border: none;
    outline: none;
}

.hero-search-bar-wrapper {
    width: 100%;
    padding: .4rem 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.hero-search-bar {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.hero-search-bar input {
    flex: 1;
    font-size: 1rem;
    color: #202020;
    background: none;
    border: none;
    outline: none;
}

.nav-search-bar button:hover {
    cursor: pointer;
    background-color: var(--light-yellow);
}

.hero-search-bar button, .nav-search-bar button {
    background: none;
    border: none;
    aspect-ratio: 1/1;
    padding: 2px;
    border-radius: 100%;
    transition: .25s ease;
}

.hero-search-bar button:hover {
    cursor: pointer;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 512px;
    background: url('https://images.unsplash.com/photo-1476067897447-d0c5df27b5df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-position: center;
}

.hero-section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    max-width: 800px;
}

.hero-section-inner h1 {
    font-size: 2.8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.suggest-search-wrapper {
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
    width: 80%;
}

.suggest-search {
    flex: 1;
}

.suggest-search a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    text-decoration: none;
    color: var(--very-dark-blue);
    background-color: var(--yellow);
    border-radius: 75px;
    transition: .4s ease;
}

.suggest-search a:hover {
    transform: rotateZ(-5deg);
    background-color: var(--light-yellow);
}

.pictures-section {
    --picture-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--picture-gap);
    padding: 2rem;
    margin: auto;
    max-width: 1440px;
}

.pics-column {
    display: flex;
    flex-direction: column;
    gap: var(--picture-gap);
}

.pics-column img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
    transition: .3s ease;
}

.pics-column img:hover {
    cursor: zoom-in;
    filter: brightness(.7);
}